*{
    padding: 0;
    margin: 0;
}

main{
    text-align: center;
}

main h1{
    font-size: 40px;
    padding: 10px 0px 0px 0px;
}

body{
    font-family: sans-serif;
    text-align: center;
}

p
{
    margin: 0;
}

/*Detta används till öppettider på sidan*/
.oppettider{
    padding: 20px;
}

.oppettider h2{
    font-size: 30px;
    padding: 10px;
}

.oppettider p{
    transform: translate(-100%);
    font-size: 25px;
    font-family: serif;
}

/*Detta används för att ändra på dagarna i öppettiderna*/
.oppet_dag{
    margin-left: 50%;
    float: left;
    text-align: left;
}

/*Detta används för att ändra på tiderna i öppettiderna*/
.oppet_tid{
    float: left;
    text-align: right;
}

.produkter{
    margin-left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 90px;
    text-align: center;
}

.produktprod{
    transform: translate(-75%, 0%);
    margin-top: 10px;
    margin-left: 50%;
    float: left;
    text-align: left;
}

.produktpris{
    transform: translate(-150%, 0%);
    margin-top: 10px;
    float: left;
    text-align: right;
}

/*Detta används till kontaktinformation på sidan*/
.kontakt{
    margin-top: 225px;
    padding: 10px;
    font-size: 15px;
}

/*Detta används till spabilder på sidan*/
#img-container{
    width: auto;
    margin-top: 25px;
}

/*Detta används för att anpassa ena spabilden*/
#img-container .lone-img{
    width: 581px;
}

/*Detta används för att anpassa två andra spabilder*/
.img-set img{
    height: 250px;
}

/*Detta används för en sociala medier div*/
.socials{
    padding: 10px;
    height: 50px;
    width: auto;
    margin-bottom: 50px;
}

.socials img{
    width: 75px;
}